.container1 {
    background-size : cover;
    max-width: 100%;
    padding-top: 1%;
    padding-bottom: 2%;
    height: 500px;
    color: white;
}
.colorit{
    color: cornsilk;
    font-size: 25px;
}
.container2 {
    display: inline-flex;
    background-size: cover;
    max-width: 100%;
    height: 200px;
   margin-top: 1000px;
}
#canvas {
    display: block;
}
body{
    background-size : cover;
    max-width: 100%;
    font-family: 'Underdog' ;
}
.table1{
    margin-top: 100px;
}
#search-text{
    width: 350px;
    margin-bottom: 15px;
}
#marshrut{
    height: 30px;
}
.fig{
    margin-left: 70%;
}
#info-table {
    visibility: visible;
}

.rik {
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
 background-color: coral;
    border-color: crimson;
}
.morti {
    text-align: center;
}
.clear {
    margin-left: 49%;
}
.map
{
    position: relative;
    text-align: center;
}
svg
{
    position: absolute;
    top: 0;
    left: 0;
    height: 98%;
    width: 100%;
    margin-bottom: 30%;
}
path
{
    opacity: 0.4;
    fill: #fd7e14;
    cursor: pointer;
    transition: 0.3s;
}
path:hover
{
    opacity: 0.8;
    transition: 0.3s;
}
