#title {
        line-height: 0;
      }

#title img {
        border: none;
      }
body { 
       background: url(bg.jpg) no-repeat center center fixed;
       background-size : cover;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
    }
.fig {
    text-align: center; 
   }

.lol {
    font: bold 2.5em "Martyricpersonal",serif;
    font-weight: 400;
    font-stretch: expanded;
}
b {
    font: bold 1em "BatmanForever",serif;
    font-weight: 400;
    font-stretch: expanded;
}
.VisibleText {
	text-shadow: 2px 0 0 #fff;
	font-size: 30px;
}
.DivBackground {
	background-color: rgba(100%,100%,100%,0.7);
	border: 1px solid #B0C4DE;
	padding: 0px;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 5px;
}
 .bl {
        border: 5px solid #7B68EE;
    }

.buttonup {
width:100px; 
height:158px;
position:fixed;
bottom:20px;
right:50px;
}
.transparent50 {
    filter: alpha(Opacity=50);
    opacity: 0.5; 
   }
@font-face {
    font-family:BatmanForever; 
    src: url(fonts/10322.ttf); 
}
@font-face {
    font-family: Martyricpersonal; 
    src: url(fonts/10908.otf); 
   }
