<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Hobbit</title>
	<meta charset="UTF-8">
	<meta name="description" content="MUSIC MUSIC MUSIC">
	<meta name="keywords" content="warrior, game, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


	<link href="img/favicon.ico" rel="shortcut icon"/>


	<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">


	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/animate.css"/>
	<link rel="stylesheet" href="css/music.css">



	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


</head>
<body>

	<div id="preloder">
		<div class="loader"></div>
	</div>


	<header class="header-section">
		<div class="container">

			<a class="site-logo" href="index.html">
				<img src="img/logo.png" alt="">
			</a>
			<div class="user-panel">
				<a href="#">Вход</a>  /  <a href="#">Регистрация</a>
			</div>

			<div class="nav-switch">
				<i class="fa fa-bars"></i>
			</div>

			<nav class="main-menu">
				<ul>
					<li><a href="music.html">Главная</a></li>
				</ul>
			</nav>
		</div>
	</header>


	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/slider-1.jpg">
				<div class="hs-text">
					<div class="container">
						<h2>Лучшие <span>песни и концерты</span> здесь</h2>
						<p>Создай свой собственный маршрут путешествия по живописной Европе!</p>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/slider-2.jpg">
				<div class="hs-text">
					<div class="container">
						<h2>Лучшие <span>песни и концерты</span> здесь</h2>
						<p>Найди свой жанр и стиль!<br> Отыщи то, что нужно именно тебе</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<div class="latest-news-section">
		<div class="ln-title">Последние новости</div>
		<div class="news-ticker">
			<div class="news-ticker-contant">
				<div class="nt-item"><span class="new">Новое</span>Люба забирает свои документы </div>
				<div class="nt-item"><span class="strategy">Интересное</span> Женя возможно скоро кого-то убьет </div>
				<div class="nt-item"><span class="racing">Обыденное</span> Ты серьёзно это читаешь? </div>
			</div>
		</div>
	</div>


	<section class="feature-section spad">
		<div ng-app="myApp" ng-controller="customersCtrl" class="container tabl">
			<form class="form-inline my-2 my-lg-0 ">
				<div class = "table1">
					<input class="form-control mr-sm-2 " type="text" placeholder="Search" aria-label="Search" id="search-text" onkeyup="tableSearch()">
					<button class=" btn-outline-success my-2 my-sm-0 rik " type="submit" id="marshrut" onclick="location.href='music2.html'">Проложить маршрут</button>
				</div>
			</form>
			<table class="table table-hover" id="info-table">
				<thead class="thead-dark">
				<th>Имя группы</th>
				<th>Страна</th>
				<th>Дата концерта</th>
				<th></th>
				</thead>
				<tr ng-repeat="x in Groups">
					<td>{{ x.name }}</td>
					<td>{{ x.country }}</td>
					<td>{{ x.data }}</td>
					<td><button class="morti btn rik" id="tik" value="{{x.id}}"  ng-click="once($event)">Добавить</button></td>
				</tr>
			</table>
		</div>
		<canvas id="canvas">
		</canvas>
	</section>


	<section class="recent-game-section spad set-bg" data-setbg="img/recent-game-bg.png">
		<div class="container">
			<div class="section-title">
				<div class="cata new">Что-то новое</div>
				<h2>Лучшие плейлисты</h2>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="recent-game-item">
						<div class="rgi-thumb set-bg" data-setbg="img/recent-game/1.jpg">
							<div class="cata new">новое</div>
						</div>
						<div class="rgi-content">
							<h5>Меланхолия</h5>
							<p>Этот плейлист позволит вам расплакаться, а также постраться справиться с самоизоляцией </p>
							<a href="#" class="comment">10 комментариев</a>
						</div>
					</div>	
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="recent-game-item">
						<div class="rgi-thumb set-bg" data-setbg="img/recent-game/2.jpg">
							<div class="cata racing">популярное</div>
						</div>
						<div class="rgi-content">
							<h5>COVID-19</h5>
							<p>Всего говорят только о нем.Треки которые заставят вас уйти на карантин</p>
							<a href="#" class="comment">100683217390183 комментариев</a>
						</div>
					</div>	
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="recent-game-item">
						<div class="rgi-thumb set-bg" data-setbg="img/recent-game/3.jpg">
							<div class="cata adventure">классика</div>
						</div>
						<div class="rgi-content">
							<h5>Где-то в России</h5>
							<p>Погрузитесь в волшебную и сказочную жизнь в России </p>
							<a href="#" class="comment">87383 комментариев</a>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</section>


	<section class="tournaments-section spad">
		<div class="container">
			<div class="tournament-title">Самые популярные группы за месяц</div>
			<div class="row">
				<div class="col-md-6">
					<div class="tournament-item mb-4 mb-lg-0">
						<div class="ti-notic">Ocean eyes</div>
						<div class="ti-content">
							<div class="ti-thumb set-bg" data-setbg="img/tournament/1.jpg"></div>
							<div class="ti-text">
								<h4>Billie Eilish</h4>
								<ul>
									<li><span>Начало тура:</span>20 июля 2020 г.</li>
									<li><span>Окончание тура:</span> 31 августа 2020г.</li>
									<li><span>Количество городов:</span> 10 </li>
								</ul>
								<p><span>Цена за билет:</span> $2000</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="tournament-item">
						<div class="ti-notic">Go to Hell</div>
						<div class="ti-content">
							<div class="ti-thumb set-bg" data-setbg="img/tournament/2.jpg"></div>
							<div class="ti-text">
								<h4>Nightwish</h4>
								<ul>
									<li><span>Начало тура:</span> 28 марта, 2021 г.</li>
									<li><span>Окончание тура:</span> 5 апреля 2021 г.</li>
									<li><span>Количество городов::</span> 5 </li>
								</ul>
								<p><span>Цена за билет:</span> $500</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="review-section spad set-bg" data-setbg="img/review-bg.png">
	</section>

	<section class="footer-top-section">
		<div class="container">
			<div class="footer-top-bg">
				<img src="img/footer-top-bg.png" alt="">
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="footer-logo text-white">
						<img src="img/footer-logo.png" alt="">
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-widget mb-5 mb-md-0">
						<h4 class="fw-title">Наши соц сети</h4>
						<div class="latest-blog">
							<div class="lb-item">
								<div class="lb-thumb set-bg" data-setbg="img/latest-blog/1.jpg"></div>
								<div class="lb-content">
									<div class="lb-date">Инстаграм</div>
									<p>jbhvlsnowed </p>
								</div>
							</div>
							<div class="lb-item">
								<div class="lb-thumb set-bg" data-setbg="img/latest-blog/2.jpg"></div>
								<div class="lb-content">
									<div class="lb-date">Twitter</div>
									<p>ndkvln;dsmv </p>
								</div>
							</div>
							<div class="lb-item">
								<div class="lb-thumb set-bg" data-setbg="img/latest-blog/3.jpg"></div>
								<div class="lb-content">
									<div class="lb-date">Vk</div>
									<p>hewoifhnpowekf.ru</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	

	<footer class="footer-section">
		<div class="container">
			<ul class="footer-menu">
				<li><a href="music.html">Главная</a></li>
			</ul>
		</div>
	</footer>




	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.marquee.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/music.js"></script>
    </body>
</html>