#title {
        line-height: 0;
      }

#title img {
        border: none;
      }
body { 
      background: url(bga.jpg) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       font: bold 4em "UA_A_Charming",serif;
       color:#F0E68C;
       text-shadow: 2px 0 2px #8B4513, 
                 0 2px 2px #8B4513, 
                 -2px 0 2px #8B4513, 
                 0 -2px 2px #8B4513,
                 2px 2px 2px #8B4513;

    }
table{
	background-color: #00BFFF;
}   

h1{
	font: bold 2em "UA_A_Charming",serif;
       color:#F0E68C;
} 

   a:link { 
    color: #F0E68C; /* Цвет непосещенных ссылок */
   }
   a:visited { 
    color: #F0E68C; /* Цвет посещенных ссылок */
   }
   a:hover { 
    color: #8B4513; /* Цвет ссылок при наведении на них курсора мыши */
   }
   a:active { 
    color: #8B4513; /* Цвет активных ссылок */
   }

   p {
    font-size: 90%;
    font: bold 1em "UA_A_Charming",serif;
    color: #F0E68C; 
      text-shadow: 2px 0 2px #8B4513, 
                 0 2px 2px #8B4513, 
                 -2px 0 2px #8B4513, 
                 0 -2px 2px #8B4513,
                 2px 2px 2px #8B4513;
   }
   p:first-letter {
    font-size: 250%; /* Размер шрифта первого символа */
    color: red; /* Красный цвет текста */
   }
   tr:hover {
    background: #000000; /* Меняем цвет фона строки таблицы */ 
   }
   tr:nth-child(odd) {
    background: #f0f0f0; /* Цвет фона */
   } 
   tr:nth-child(even) {
    background: #666; /* Цвет фона */
    color: #fff; /* Цвет текста */
   } 
   tr:first-child {
    background: #000000; /* Цвет фона */
   } 
   tr:last-child {
    background: #000000; /* Цвет фона */
    color: #fff; /* Цвет текста */
   } 

   .fig {
   	text-align: center;
   }

 .DivBackground {
	background-color: rgba(100%,100%,100%,0.2);
	border: 1px solid #184DDE;
	padding: 10px;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 5px;
}

@font-face {
    font-family: UA_A_Charming; 
    src: url(fonts/16145.ttf); 
}

.d1{ display:none; }
.d1:target{display:block;}

.d2{ display:none; }
.d2:target{display:block;}

.d3{ display:none; }
.d3:target{display:block;}

@-webkit-keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}

@keyframes example {
  from {top:-100px;opacity: 0;}
  to {top:0px;opacity:1;}
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal:target {
  display: table;
  position: absolute;
}

.modal-dialog {
  display: table-cell;
  vertical-align: middle;
}

.modal-dialog .modal-content {
background: url(mira.jpg) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
  background-size: cover;
  margin: auto;
  position: relative;
  padding: 0;
  outline: 0;
  border: 3px #777 solid;
  text-align: justify;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.4);

  -webkit-animation-name: example; 
  -webkit-animation-duration: 0.5s; 
  animation-name: example;
  animation-duration: 0.5s;
}

.closebtn {
  text-decoration: none;
  float: right;
  font-size: 100px;
  color:#F0E68C;
  font-weight: bold;
  color: #0000CD;
}

.closebtn:hover,
.closebtn:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.container {
  font: bold 1em "UA_A_Charming",serif;
  font-size: 50px;
  padding: 30px;
}

header {
  background-color: #00008B;
  font: bold 1em "UA_A_Charming",serif;
  color:#F0E68C;
}

footer {
  background-color: #00008B;
  font: bold 1em "UA_A_Charming",serif;
  color:#F0E68C;
}
}


