#title {
        line-height: 0;
      }

#title img {
        border: none;
      }
body { 
      background: url(bga.jpg) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       font: bold 4em "UA_A_Charming",serif;
       color:#F0E68C;
       text-shadow: 2px 0 2px #8B4513, 
                 0 2px 2px #8B4513, 
                 -2px 0 2px #8B4513, 
                 0 -2px 2px #8B4513,
                 2px 2px 2px #8B4513;

    }
table{
	background-color: #00BFFF;
}   

h1{
	font: bold 2em "UA_A_Charming",serif;
       color:#F0E68C;
} 

   a:link { 
    color: #F0E68C; /* Цвет непосещенных ссылок */
   }
   a:visited { 
    color: #F0E68C; /* Цвет посещенных ссылок */
   }
   a:hover { 
    color: #8B4513; /* Цвет ссылок при наведении на них курсора мыши */
   }
   a:active { 
    color: #8B4513; /* Цвет активных ссылок */
   }

   p {
    font-size: 90%;
    color: #F0E68C; 
      text-shadow: 2px 0 2px #8B4513, 
                 0 2px 2px #8B4513, 
                 -2px 0 2px #8B4513, 
                 0 -2px 2px #8B4513,
                 2px 2px 2px #8B4513;
   }
   p:first-letter {
    font-size: 250%; /* Размер шрифта первого символа */
    color: red; /* Красный цвет текста */
   }
   tr:hover {
    background: #000000; /* Меняем цвет фона строки таблицы */ 
   }
   tr:nth-child(odd) {
    background: #f0f0f0; /* Цвет фона */
   } 
   tr:nth-child(even) {
    background: #666; /* Цвет фона */
    color: #fff; /* Цвет текста */
   } 
   tr:first-child {
    background: #000000; /* Цвет фона */
   } 
   tr:last-child {
    background: #000000; /* Цвет фона */
    color: #fff; /* Цвет текста */
   } 

   .fig {
   	text-align: center;
   }

 .DivBackground {
	background-color: rgba(100%,100%,100%,0.2);
	border: 1px solid #184DDE;
	padding: 10px;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 5px;
}

@font-face {
    font-family: UA_A_Charming; 
    src: url(fonts/16145.ttf); 
}

.luba{ 
background-color: rgba(100%,100%,100%,0.2);
color:#FFFFFF;
position: fixed;
left: 0px;
top: 0px;
height: : 100%;
width: 100%;
overflow: auto;
}

.d1{ display:none; }
.d1:target{display:block;}

.d2{ display:none; }
.d2:target{display:block;}

.d3{ display:none; }
.d3:target{display:block;}

