 table {
            border: solid 5px #000000;
            border-collapse: collapse;
            background: url(bga.jpg) no-repeat;
            font: bold 1.5em "BatmanForever",serif;
            font-weight: 400;
            font-stretch: expanded;
           color: #F0E68C;
           text-shadow: 2px 0 2px #8B4513, 
                        0 2px 2px #8B4513, 
                       -2px 0 2px #8B4513, 
                        0 -2px 2px #8B4513,
                        2px 2px 2px #8B4513;
        }
 .text{
       text-align:  center;
       }
 body { 
      background: url(fn.jpg)no-repeat center center fixed; 
      -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
      }

.weekend{
 background: #A52A2A	; 
}
border{
 color:#000000;
}
@font-face {
    font-family:BatmanForever; 
    src: url(fonts/10322.ttf); 
}
      
