
      table {
            font: 2em Arial, sans-serif;
            font-size: 40px;
            }
      .text{
            text-align:  center;
            }
       body { 
              background: url(kniga.jpg)no-repeat; 
              background-size : cover;
            }
      
      .white {
            background:#C0C0C0;
            width:15px;
            high:15px;
             }
      .black{
             background:#000000;
            width:15px;
            high:15px;
            }
