body { 
       background: url(bga.jpg) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;;
       background-size : cover;
    }
  h2,h1 {
    font: bold 3em "Martyricpersonal",serif;
    font-weight: 400;
    font-stretch: expanded;
    color: #000000;
    text-shadow: 1px 0 1px #184DDE, 
                 0 1px 1px #184DDE, 
                 -1px 0 1px #184DDE, 
                 0 -1px 1px #184DDE,
                 1px 1px 1px #184DDE;
  }
 .text {
    text-align:  center;
   }
 .bn {
        border: 5px solid #184DDE;
     }
 #navigation{
   
    
        background-color: rgba(0,0,0, 0);
        height: 130px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
        font-size: 16px;
        line-height: 10px;
        position: relative;
        top: 0%;
        width: 100%;
        
    }
@font-face {
    font-family: Martyricpersonal; 
    src: url(fonts/10908.otf); 
   }
.DivBackground {
	background-color: rgba(100%,100%,100%,0.2);
	border: 1px solid #184DDE;
	padding: 10px;
	margin-left: 2%;
	margin-right: 2%;
	border-radius: 5px;
}

