 table {
            font: 2em Arial, sans-serif;
            font-size: 35px;
            border: solid 5px #000000;
            border-collapse: collapse;
            background: url(bga.jpg) no-repeat;
  color:#FFF0F5	;
        }
 .text{
       text-align:  center;
       }
 body { 
      background: url(fn.jpg)no-repeat; 
       background-size : cover;
      }

.weekend{
 background: #A52A2A	; 
}
border{
 color:#000000;
}
      
